header{
    background-color: transparent;
    position: relative;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo{
    width: 30%;
    position: relative;
}

header .container .logo h1{
    font-size: 50px;
    color: white;
}

header .container .logo span{
    position: absolute;
    top: 9px;
    right: 194px;
    color: black;
    background-color: yellow;
    padding: 5px;
    border-radius: 8px;
}

header .container .menu{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container .menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container .menu ul li{
    margin-right: 20px;
}

header .container .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

header .sub_menu_open{
    position: absolute;
    background-color: white;
    padding: 20px;
    top: 80px;
    right: 80px;
    color: black;
    display: block !important;
    border-radius: 8px;
    visibility: hidden;
    z-index: 999;
}

header .sub_menu_open.active {
    visibility: visible;
}

header .menu .sub_menu_open li a{
    color: black !important;
}